.Habits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
}

.Habits .quote-text {
    padding: 1rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}