.habit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    width: 50rem;
    margin-bottom: 2rem;
}

.habit-section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.habit-icons-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.habit-icons-group * {
    cursor: pointer;
}

.habit-section-left h3 {
    font-weight: normal;
}

.navbar-modal div {
    margin-bottom: 0.75rem;
}

.navbar-modal span {
    font-size: 0.825rem;
}

.navbar-modal input,
select {
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    margin-top: 0.5rem;
}

.navbar-modal input[type="number"] {
    width: 4rem;
}

.navbar-modal input[type="text"] {
    width: 100%;
}

.navbar-modal .input-groups {
    display: flex;
    flex-direction: column;
}

.navbar-modal .input-groups .goal-details {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1.2fr 1.2fr;
    gap: 1rem;
}

.navbar-modal .input-groups-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.navbar-modal .button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.navbar-modal .button-group button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-bg);
    border-radius: 2px;
    cursor: pointer;
}

.plus-one-icon {
    font-size: 1.25rem;
}

@media screen and (max-width: 1000px) {
    .habit-section {
        width: 45rem;
    }
}

@media screen and (max-width: 775px) {
    .habit-section {
        width: 40rem;
    }
}

@media screen and (max-width: 630px) {
    .habit-section {
        width: 35rem;
    }
}

@media screen and (max-width: 520px) {
    .habit-section {
        width: 30rem;
    }
}